.dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sidebar {
    border: 1px solid red;
    height: 400px;
    width: 116px;
}
.agenda {
    margin-left: 20px;
}