.overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(94, 93, 93, 0.234);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer{
    position: relative;
    min-width: 480px;
    max-width: 100px;
    min-height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
.closeBtn{
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
}
