:root {
  --blue-color : #00A6FB;
  --orange-color: #F46036;
  --black-color: #14080E;
  --white-color: #fff;
  --grey-color: #606368;
  --background-color: #F4FBFF;
  --red-delete-color: #C70000;
  --mauve-add-link: #3B28CC;
  --box-shadow-color: rgba(0, 166, 251, 0.25);
  --gris-clair-color: rgba(156, 169, 194, 0.3);
  --background-grey: rgba(156, 169, 194, 0.3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
